@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3F4D5C;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222E3D;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
